* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-navbar {
  display: flex;
  align-items: center;
  background: #ffffff;
  height: 10vh;
  width: 100%;
}
.navbar {
  width: 100%;
  margin: 0px 119px;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 32px;
  color: #3e3e3e;
}
.href {
  width: 457px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.href a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}
.href a:hover,
:focus {
  color: #8a53ff;
}

@media (max-width: 794px) {
  .navbar {
    margin: 0 20px;
  }
  .href {
    display: none;
  }
}

.section {
  width: 100%;
  height: 580px;
  display: flex;
  align-items: center;
  background-image: url(./components/sea.jpeg);
  background-size: cover;
  justify-content: space-between;
}
.section-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.section-text {
  width: 505px;
  height: 252px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.section-left h1 {
  font-size: 73px;
  font-weight: 700;
  line-height: 84px;
}
.section-left span {
  color: #8a53ff;
}
.section-left p {
  font-size: 22px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 36px;
}
.buttons {
  width: 505px;
  height: 46px;
  gap: 24px;
  display: flex;
  align-items: start;
}
.buttons button {
  width: 166px;
  height: 46px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  background: #8a53ff;
  color: white;
  border: transparent;
  cursor: pointer;
}
.buttons button:hover {
  background-color: #a37bf9;
}
@media (max-width: 1036px) {
  .section {
    justify-content: center;
  }
}
@media (max-width: 640px) {
  .section-left {
    width: 100%;
  }
  .section-left h1 {
    font-size: 1.7rem;
  }
  .section-left p {
    width: 70%;
    font-size: 15px;
  }
  .buttons {
    width: 300px;
  }
}

.part2 {
  width: 100%;
  height: 552px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.img img {
  width: 580px;
  height: 338px;
  background-color: #8a53ff;
}
.part2-text {
  width: 580px;
  height: 292px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.part2-text h3 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #8a53ff;
}
.part2-text h1 {
  font-family: Changa One;
  font-size: 39px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.part2-text p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1210px) {
  .part2{
    height: 120vh;
    flex-direction: column;
  }
}
@media (max-width: 695px) {
  .part2{
    height: 120vh;
    flex-direction: column;
  }
  .img img{
    width: 400px;
  }
  .part2-text{
    width:400px ;
  }
}

.discover {
  width: 100%;
  height: 621px;
  row-gap: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discover_head {
  width: 100%;
  height: 69px;
  gap: 8px;
}
.discover h3 {
  color: #8a53ff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.06em;
  text-align: center;
}
.discover h1 {
  font-family: Changa One;
  font-size: 39px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}
.imgs {
  width: 100%;
  height: 410px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.img_box {
  width: 300.5px;
  height: 410px;
  padding: 16px;
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.img_box h2 {
  font-family: Changa One;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}
.img_box p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #8a53ff;
}
.img_box img {
  width: 268.5px;
  height: 317.05px;
  border-radius: 8px;
}

@media (max-width: 1210px) {
  .discover{
    height: 150vh;
  }
}

@media (max-width: 600px) {
  .discover{
    height: 270vh;
    align-items: center;
  }
  .imgs{
    align-items: center;
    justify-content: center;
  }
}
.join {
  width: 100%;
  height: 901.1810302734375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
}
.join_box {
  width: 657px;
  height: 658px;
  top: 1917.02685546875px;
  left: 391.4998779296875px;
  padding: 20px;
  gap: 30px;
  background-color: whitesmoke;
}
.join_head {
  width: Fill (617px);
  height: Hug (76px);
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.join_input {
  width: Fill (617px);
  height: Hug (612px);
  padding: 28px 30px 28px 30px;
  border-radius: 12px;
  gap: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.join_input_text {
  width:  557px;
  height: 110px;
  gap: 6px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-around;
}
form {
  width: Fill (557px);
  height: Hug (366px);
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form input {
  width: Fill (533px);
  height: Hug (56px);
  padding: 16px 12px 16px 12px;
  gap: 8px;
}
textarea {
  width: Fill (557px);
  min-height: 102px;
  padding: 16px 12px 16px 12px;
  border-radius: 4px;
  border: 1px solid gray;
}
.form button {
  width: 222px;
  height: 46px;
  padding: 13.5px 9.353683471679688px 13.5px 9.522216796875px;
  border-radius: 4px;
  background: #8a53ff;
  color: white;
  border: transparent;
  cursor: pointer;
}
.form button:hover{
  background-color: #a37bf9;
}

@media (max-width: 678px) {
 .join_box{
  width: 400px;
 }
 .join_input_text{
  width: 300px;
 }
 .form input{
width: 370px;
 }
 .form button{
  min-width: 370px;
 }
}
.footer{
  width: Fill (1,440px);
height: Hug (80px);
padding: 32px 120px 32px 120px;
background-color: whitesmoke;

}
.footer p{
  width: 80%;
height: 16px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;


}
